<div class="d-flex ml-auto">
    <a href="/habitaciones" class="btn btn-dark text-white text-decoration-none">Habitaciones</a>
    &nbsp;&nbsp;
    {% if (session and session.usuario) %}
           <a class="btn btn-dark" href="/habitaciones/nueva">Nueva Habitación</a>
    {% endif %}
    &nbsp;&nbsp;
        {% if (session and session.usuario) %}
          <a a class="btn btn-dark" href="/auth/logout">Logout</a>
        {% else %}
          <a a class="btn btn-dark" href="/auth/login">Login</a>
        {% endif %}
</div>